html,
body {
    height: 100%;
}

* {
    padding: 0px;
    margin: 0px
}

.navContainer {
    grid-area: navContainer;
}

.mapContainer {
    grid-area: mapContainer;
}

.appContainer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 500px;
    grid-template-areas: 
    "navContainer"
    "mapContainer" ;
}